echo "bin/" >> .gitignore
echo "obj/" >> .gitignore
echo "*.user" >> .gitignore
echo "*.suo" >> .gitignore
echo "*.vs/" >> .gitignore
echo "*.dbmdl" >> .gitignore
echo "*.dbproj.user" >> .gitignore
echo "*.jfm" >> .gitignore
echo "packages/" >> .gitignore
echo "*.ncb" >> .gitignore
echo "*.sdf" >> .gitignore
echo "*.opensdf" >> .gitignore
echo "*.log" >> .gitignore
